*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.login-container{
  animation: fadeup 0.8s ease forwards;
}

@keyframes fadeup {
    from{
      opacity: 0;
      transform: translateY(-20px);
    }

    to{
      opacity: 1;
      transform: translateY(0);
    }
}

.login-form{
  background: #fff;
  padding: 30px;
  width: 340px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.login-form h2{
  margin-bottom: 5px;
}

.login-form p{
  color: #000;
  margin-bottom: 20px;
}

.input-group{
  margin-bottom: 20px;
  position: relative;
}

.input-group input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.input-group label{
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
  background: #fff;
  padding: 0 4px;
  color: #888;
}

.password span{
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px;
}

.input-group input:focus,
.input-group input:valid{
  border-color: #4f46e5;
}

.input-group input:focus + label,
.input-group input:valid + label{
  top: -6px;
  font-size: 12px;
  color: #4f46e5;
}

button{
  padding:10px;
  width: 100%;
  height: 45px;
  border: none;
  background: #4f46e5;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  transform: 0.3s;
}

button:hover{
  transform: scale(1.03);
}
.loader{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background: #fff; */
  border: 3px solid #fff;
  border-top: 3px solid transparent;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  animation: spin 1s linear infinite;
}

.success{
  font-size: 14px;
  display: none;
}

@keyframes spin {
    from{
      transform: rotate(360deg);
    }
    to{
      transform: rotate(0);
    }
}